     
<div class="col-md-6">
    <h3 class="text-center mt-2">Add Employee</h3>
    <form  [formGroup]="addForm" (ngSubmit)="onSubmit()"  class="p-5 ">
        <app-text-input formControlName="name" [label]="'Employee Name'"></app-text-input>
        <app-text-input formControlName="salary" [label]="'Employee salary'" type="number"></app-text-input>
            <mat-form-field appearance="fill">
            <mat-label>Custom calendar header</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
         <input type="radio" value="male" name="gender" > Male
         <input type="radio" value="female" name="gender" > Female
       <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!addForm.valid" >add Employee</button>
     </form>
  </div>

  
  